.rvmrc
debug.rb
debug.old.rb
*.gem
*.rbc
*.swp
*.tmproj
*~
.\#*
tags
/pkg
/doc
Gemfile.lock
nbproject/*
*.gem
.idea/*
.project
.bundle
.config
.yardoc
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
.vscode/

.DS_Store
.ruby-version
.env
*.pem

# pkg path for sub gems
pkg_*
